/* table {
  border: 2px solid black;
}

td {
  border: 1px solid rgb(190,190,190);
  padding: 20px 40px;
}


td {
  text-align: center;
} */

.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

