/* table {
  border: 2px solid black;
}

td {
  border: 1px solid rgb(190,190,190);
  padding: 20px 40px;
}


td {
  text-align: center;
} */

* {
  box-sizing: border-box;
}

.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameboard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.box {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  font-size: 150px;;
}
